@page "/"
@using Microsoft.AspNetCore.Components.Web
@using System.Globalization
@using Microsoft.AspNetCore.Localization
@inject IConfiguration конфигурация
@namespace СертификацияСемян.Страницы
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    this.HttpContext.Response.Cookies.Append(
        CookieRequestCultureProvider.DefaultCookieName,
        CookieRequestCultureProvider.MakeCookieValue(
            new RequestCulture(
                CultureInfo.CurrentCulture,
                CultureInfo.CurrentUICulture)));
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="СертификацияСемян.styles.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png"/>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=@конфигурация["GoogleMapAPIKey"]&v=3&callback=Function.prototype"></script>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <component type="typeof(Приложение)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            @_Host.ОшибкаНеМожетОтвечать
        </environment>
        <environment include="Development">
            @_Host.ОшибкаИнструментыРазработчика
        </environment>
        <a href="" class="reload">@_Host.Перезагрузить</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/BlazorGoogleMaps/js/objectManager.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"
            integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        window.getLocation = async () => {
            try {
                const pos = await new Promise((resolve, reject) => {
                    navigator.geolocation.getCurrentPosition(resolve, reject);
                });
                console.log("Current coordinates. ", pos.coords);
                return [pos.coords.latitude, pos.coords.longitude];
            } catch (e) {
                console.log("Failed to retrieve current coordinates. ", e);
                return [43.2433, 76.8646];
            }
        };
        function initializeQrCode(elementId, text, width, height) {
            const element = document.getElementById(elementId);
            const parameters = {
                text,
                width,
                height
            };
            new QRCode(element, parameters);
        }
        window.initializeQrCode = initializeQrCode;
        function openDialog(dialogRef) {
            dialogRef.showModal();
        }
        function closeDialog(dialogRef) {
            dialogRef.close();
        }
    </script>
</body>
</html>
