@page "/"
@inject IStringLocalizer<Главная> Лок
<PageTitle>@Лок["ГлавнаяСтраница"]</PageTitle>


<div class="row">
    <img src="/images/main_page_office.png" class="object-fit-cover" alt="Инспекторы на поле,помогают улучшать качество семян" height="700">
</div>

<h2>@Лок["Заголовок1"]</h2>

<p>
    @Лок["Параграф1Линия1"]
</p>

<p>
    @Лок["Параграф1Линия2"]
</p>

<p>
    @Лок["Параграф1Линия3"]
</p>

<h2>@Лок["Заголовок2"]</h2>

<ol>
    <li>@Лок["Список1Линия1"]</li>
    <li>@Лок["Список1Линия2"]</li>
    <li>@Лок["Список1Линия3"]</li>
</ol>

<div class="row">
    <img src="/images/main_page.jpg" class="object-fit-cover" alt="Инспекторы на поле,помогают улучшать качество семян" height="500">
</div>

<p>
    @Лок["Параграф2Линия1"]
</p>

<p>
    @Лок["Параграф2Линия2"]
</p>

