@page "/info/documents"

<h3>@Глобальные.Страница_Документы</h3>

<ul>
    <li>
        <a href="/docs/Стандарт S-1_SeedPotatoes.pdf">Действующий стандарт ЕЭК ООН S1 👇</a>
    </li>
    <li>
        <a href="/docs/Lot_Inspection_R_ЕЭК ООН_руководство.pdf">Cтандарт ЕЭК ООН по инспекции партии 👇</a>
    </li>
    <li>
        <a href="/docs/Certification_Service_R_процедура.pdf">Cтандарт сертификации семенного материала ЕЭК ООН 👇</a>
    </li>
</ul>
