@page "/information/6"

<h3>6 раздел</h3>

<p class="pre-wrap">@info</p>

@code {
	string info = @"
6	Контакты и график работы в этом разделе приводится адрес, телефоны, 
	график работы структур профессиональной организации и служб инспекции
";
}
