@page "/information/4"

<h3>Нормативно-правовая база</h3>

<p class="pre-wrap">@info</p>

@code {
	string info = @"
4	Нормативно-правовая база (прикрепляются файлы, которые можно загрузить для ознакомления)
	4.1	Законы в этом разделе приводиться текст законодательных актов РК
		4.1.1	Гражданский кодекс РК *ссылки
		4.1.2	О семеноводстве
		4.1.3	О техническом регулировании
		4.1.4	Об аккредитации в области оценки соответствия
	4.2	Приказы МСХ РК в этом разделе приводиться текст приказов МСХ РК
		4.2.1	Об утверждении положения о профессиональной организации
		4.2.2	Правила инспекции
		4.2.3	О установлении цен
	4.3	Нормативно-техническая документация  *просим выслать
		4.3.1	СТ РК S-1
		4.3.2	Стандарт ЕЭК ООН S-1

*Схема работы инспекционной службы со ссылками

*интерактивная схема работы инспекционной службы из отчета
";
}
