@page "/information/2"

<h3>2 раздел</h3>

<p class="pre-wrap">@info</p>

@code {
	string info = @"
2  Деятельность
	2.1 Профессиональная организация инспекции и сертификации качества семян картофеля и посадочного материала плодовых культур осуществляет следующие виды деятельности:
		1)	принимает заявление на инспекцию и сертификацию семян картофеля и плодовых культур;
		2)	проводит полевые инспекции;
		3)	проводит проверку семян картофеля и посадочного материала плодовых культур, предназначенные для посадки;
		4)	оказывает платные услуги по инспекции и сертификации;
		5)	оказывает платные услуги по проведению испытаний семян картофеля и посадочного материала плодовых культур;
		6)	осуществляет реализацию печатной продукции и информационных бюллетеней по инспекции и сертификации семян картофеля и плодовых культур;
		7)	оказывает консультационные услуги;
		8)	разрабатывает методики проведения инспекции семян картофеля и посадочного материала плодовых культур;
		9)	консультирует заинтересованные в семеноводческой деятельности хозяйствующие субъекты на территории Казахстана.
		10)	инициирует законы, постановления и иные нормативные документы.
	2.2 Сотрудничество
		2.2.1 Международное сотрудничество (информация о зарубежных партнерах, краткое описание их деятельности, ссылка на сайты)
		2.2.2 Сотрудничество со структурами КГИ в АПК МСХ РК (краткое описание, ссылки, контакты)
			2.2.2.1 РГП на ПВХ «Фитосанитария»
				Предметом деятельности Предприятия является осуществление деятельности в области защиты и карантина растений,
				фумигации (обеззараживания) и фитосанитарной экспертизы. Предприятие осуществляет виды деятельности:
				фитосанитарная экспертиза подкарантинной продукции, локализация и ликвидация очагов распространения карантинных,
				особо-опасных и вредных объектов (организмов), фумигация (обеззараживание) импортной, экспертной и транзитной подкарантинной продукции,
				анализ и экспертиза сельскохозяйственной продукции и почвы на содержание остаточных количеств пестицидов (ядохимикатов),
				нитратов, нитритов и солей тяжелых металлов, качества питьевой воды, проведение сертификационных испытаний действующего вещества пестицидов (ядохимикатов)
			2.2.2.2 ГУ «Республиканский центр карантина растений» КГИ в АПК МСХ РК
				Государственное учреждение «Республиканский центр карантина
				растений» Комитета государственной инспекции в агропромышленном
				комплексе Министерства сельского хозяйства Республики Казахстан 
				является некоммерческой организацией,обладающей статусом юридического лица,
				созданной для проведения лабораторного фитосанитарного анализа подкарантинной
				продукции на выявление карантинных объектов и проверки импортного посадочного,
				прививочного, посевного и семенного материала зерновых, плодово-ягодных,
				цветочно-декоративных и иных культур на выявление скрытой зараженности карантинными объектами,
				в организационно-правовой форме учреждения.
			2.2.2.3 РГУ «Республиканский методический центр фитосанитарной диагностики и прогнозов» КГИ в АПК МСХ РК
				Республиканское государственное учреждение «Республиканский методический центр фитосанитарной диагностики и прогнозов» Комитета государственной инспекции
				в агропромышленном комплексе Министерства сельского хозяйства Республики Казахстан является некоммерческой организацией, обладающей статусом
				юридического лица, созданной для осуществления мониторинга за развитием  распространением вредных, особо опасных вредных организмов растений, 
				выявлением очагов распространения карантинных объектов и определением границ их распространения, в организационно-правовой форме учреждения.
			2.2.2.4 Гос инспекция сортоиспытаний
				Ссылка к ним
			2.2.2.5 Комитет по управлению земельными ресурсами
				Управление мониторинга использования земель и совершенствование государственного контроля за использованием и охраной земель Комитета по управлению
				земельными ресурсами Министерства сельского хозяйства Республики Казахстан (далее - Комитет) является государственным органом и ведомством в пределах
				компетенции Министерства сельского хозяйства Республики Казахстан, осуществляющим стратегические, регулятивные, реализационные и
				контрольно-надзорные функции в сфере управления земельными ресурсами, возложенные на него Конституцией, законами, иными нормативными правовыми актами
				Республики Казахстан и Положением о Комитете (Приказ Министра сельского хозяйства Республики Казахстан от 26 мая 2016 года № 236).
			2.2.2.6 Список аккредитованных лабораторий
				Список
	2.3 Антикоррупционная политика
		2.3.1 Справка о введенных в действие законодательных изменениях по вопросам противодействия коррупции
		2.3.2 Информация о деятельности Call-центра 1424 Агентства Республики Казахстан по противодействию коррупции (Антикоррупционная служба)
		2.3.3 Сборник материалов по исследованию зарубежного опыта противодействия коррупции
		2.3.4 Анализ назначения мер наказания за коррупционные преступления
		2.3.5 О противодействии коррупции
		2.3.6 Об Антикоррупционной стратегии Республики Казахстан на 2015-2025 годы
		2.3.7 План по противодействию коррупции и формированию антикоррупционной культуры на 2021 год
		2.3.8 Положение о «Телефоне доверия»
";
}
