@page "/information/1"

<h3>Инспекция и сертификация качества семян</h3>

<p class="pre-wrap">@info</p>

@code{
	string info = @"
1   О профессиональной организации инспекции и сертификации качества семян картофеля и посадочного материала плодовых культур

	1.1	Руководство
		Совет: функции совета, список членов совета
		Правление: функции правления, список челнов правления
		Председатель (фото, Ф.И.О., резюме), 
		заместители (фото, Ф.И.О., резюме)
	1.2	Структура профессиональной организации инспекции и сертификации качества семян картофеля и посадочного материала плодовых культур:
		- общее собрание,
		- правление,
		- председатель,
		- директор,
		- инспекционная служба,
		- исследовательская лаборатория,
		- иные органы созданные профессиональной организацией.

										Организационная структура
												Директор
				↓									↓								↓
Служба инспекции семян картофеля	Служба инспекции плодовых культур	Исследовательская лаборатория
1 Главный инспектор							1 Главный инспектор			1 Заведующий лабораторией
2 Инспектора									2 Инспектора					2  лаборант


											Схема взаимодействия структур
														МСХ РК	
						↙								    ↕											↘
РГУ «Государственная комиссия по					Профессиональная организация					Комитет государственной инспекции
сортоиспытанию сельскохозяйственных культур»	←	инспекции и сертификации качества семян	↔	в агропромышленном комплексе МСХ РК
МСХ РК											картофеля и посадочного материала				(Управление по карантину растений, 
												плодовых культур								Управление защиты растений)
		
	  
";
}
