@page "/info/contacts"

<h3>@Глобальные.Страница_Контакты</h3>

<h4>Время работы</h4>

Пн. - Пт.
<pre>
10:00 - 17:00
</pre>

<h4>Адрес</h4>
г. Астана. ул. ХХХХХ, офис 111


@code {
	string info = @"
6	Контакты и график работы в этом разделе приводится адрес, телефоны, 
	график работы структур профессиональной организации и служб инспекции
";
}
