@page "/information"

<h3>Навигация</h3>

<a href="/information/1">1 раздел</a><br />
<a href="/information/2">2 раздел</a><br />
<a href="/information/3">3 раздел</a><br />
<a href="/information/4">4 раздел</a><br />
<a href="/information/5">5 раздел</a><br />
<a href="/information/6">6 раздел</a><br />