@page "/info/about"

<h3>Инспекция и сертификация качества семян</h3>

@* <h4>Руководство</h4>

<p>Совет: функции совета, список членов совета</p>

<p>Правление: функции правления, список членов правления</p>

<div class="card mb-3 border border-0">
	<div class="row g-0">
		<div class="col-md-3">
			<svg class="bd-placeholder-img img-fluid rounded-start mx-auto d-block" width="200" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 200x200" preserveAspectRatio="xMidYMid slice" focusable="false">
				<title>Placeholder</title>
				<rect width="100%" height="100%" fill="#868e96"></rect>
				<text x="50%" y="50%" fill="#dee2e6" dy=".3em" dx="-1.6em">200x200</text>
			</svg>
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title">Председатель</h5>
				<p class="card-text">Дайте пожалуйста резюме председателя.</p>
			</div>
		</div>
	</div>
</div>

<div class="card mb-3 border border-0">
	<div class="row g-0">
		<div class="col-md-3">
			<svg class="bd-placeholder-img img-fluid rounded-start mx-auto d-block" width="200" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 200x200" preserveAspectRatio="xMidYMid slice" focusable="false">
				<title>Placeholder</title>
				<rect width="100%" height="100%" fill="#868e96"></rect>
				<text x="50%" y="50%" fill="#dee2e6" dy=".3em" dx="-1.6em">200x200</text>
			</svg>
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title">Заместитель 1</h5>
				<p class="card-text">Дайте пожалуйста резюме заместителя.</p>
			</div>
		</div>
	</div>
</div>

<div class="card mb-3 border border-0">
	<div class="row g-0">
		<div class="col-md-3">
			<svg class="bd-placeholder-img img-fluid rounded-start mx-auto d-block" width="200" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 200x200" preserveAspectRatio="xMidYMid slice" focusable="false">
				<title>Placeholder</title>
				<rect width="100%" height="100%" fill="#868e96"></rect>
				<text x="50%" y="50%" fill="#dee2e6" dy=".3em" dx="-1.6em">200x200</text>
			</svg>
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title">Заместитель 2</h5>
				<p class="card-text">Дайте пожалуйста резюме заместителя.</p>
			</div>
		</div>
	</div>
</div> *@

<h4>О профессиональной организации инспекции и сертификации качества семян картофеля и посадочного материала плодовых культур</h4>
Структура профессиональной организации инспекции и сертификации качества семян картофеля и посадочного материала плодовых культур:
<ul>
	<li>общее собрание,</li>
	<li>правление,</li>
	<li>председатель,</li>
	<li>директор,</li>
	<li>инспекционная служба,</li>
	<li>исследовательская лаборатория,</li>
	<li>иные органы созданные профессиональной организацией.</li>
</ul>

<div class="row g-0">
	<div class="col-md-3 offset-md-4 text-center p-1">
		<h4 class="text-center">Организационная структура</h4>
		<div class="card my-3 border mx-auto" style="width: 8rem">
			<h4>Директор</h4>
		</div>
	</div>
</div>
<div class="row font-monospace" style="font-size: 700%;">
	<div class="col-3">
		
	</div>
	<div class="col-1">↙</div>
	<div class="col-3 text-center">
		↓
	</div>
	<div class="col-1">↘</div>
	<div class="col-3">
		
	</div>
	<div class="col-1"></div>
</div>
<div class="row mb-5 graph_vertex">
	<div class="col-3">
		<div class="card mx-auto border mb-2">
			<div class="p-3">
				Служба инспекции семян картофеля
			</div>
		</div>
		<div class="card mx-auto border mb-2">
			<div class="p-3">
				Главный инспектор
			</div>
		</div>
		<div class="card mx-auto border mb-2">
			<div class="p-3">
				Инспектора
			</div>
		</div>
	</div>
	<div class="col-1"></div>
	<div class="col-3">
		<div class="card mx-auto border mb-2">
			<div class="p-3">
				Служба инспекции плодовых культур
			</div>
		</div>
		<div class="card mx-auto border mb-2">
			<div class="p-3">
				Главный инспектор
			</div>
		</div>
		<div class="card mx-auto border mb-2">
			<div class="p-3">
				Инспектора
			</div>
		</div>
	</div>
	<div class="col-1"></div>
	<div class="col-3">
		<div class="card mx-auto border mb-2">
			<div class="p-3">
				Исследовательская лаборатория
			</div>
		</div>
		<div class="card mx-auto border mb-2">
			<div class="p-3">
				Заведующий лабораторией
			</div>
		</div>
		<div class="card mx-auto border mb-2">
			<div class="p-3">
				Лаборант
			</div>
		</div>
	</div>
	<div class="col-1"></div>
</div>
<div class="row g-0">
	<div class="col-md-5 offset-md-3 text-center p-1">
		<h4 class="text-center">Схема взаимодействия структур</h4>
		<div class="card my-3 border mx-auto" style="width: 8rem">
			<h4>МСХ РК</h4>
		</div>
	</div>
</div>
<div class="row font-monospace" style="font-size: 700%">
	<div class="col-3">
		
	</div>
	<div class="col-1">
		↙
	</div>
	<div class="col-3 text-center">
		↕
	</div>
	<div class="col-1">
		↘
	</div>
	<div class="col-3">
		
	</div>
	<div class="col-1"></div>
</div>
<div class="row mb-5 graph_vertex">
	<div class="col-3">
		<div class="card mx-auto border">
			<div class="p-3">
				РГУ «Государственная комиссия по сортоиспытанию сельскохозяйственных культур» МСХ РК
			</div>
		</div>
	</div>
	<div class="col-1">
		<a style="font-size: 700%; line-height: 50%">←</a>
	</div>
	<div class="col-3">
		<div class="card border mx-auto">
			<div class="p-3">
				Профессиональная организация инспекции и сертификации качества семян картофеля и посадочного материала плодовых культур
			</div>
		</div>
	</div>
	<div class="col-1">
		<a style="font-size: 700%; line-height: 50%">↔</a>
	</div>
	<div class="col-3">
		<div class="card mx-auto border">
			<div class="p-3">
				Комитет государственной инспекции в агропромышленном комплексе МСХ РК (Управление по карантину растений, Управление защиты растений)
			</div>
		</div>
	</div>
	<div class="col-1"></div>
</div>