@page
@model ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = ForgotPasswordConfirmation.ПодтверждениеСбросаПароля;
}

<h1>@ViewData["Title"]</h1>
<p>@ForgotPasswordConfirmation.ПризывПроверитьПочту</p>
