@page
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Register> Лок
<h3>@Лок["ТипРегистрации"]</h3>

<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <img src="/images/farmer_registration.jpg" class="object-fit-cover card-img-top" alt="Регистрация инспектора" style="height: 270px;">
            <div class="card-body">
                <h5 class="card-title">@Лок["Фермер"]</h5>
                <p class="card-text">@Лок["ВладелецРегистрация"].</p>
                <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary">@Лок["РегистрацияФермера"]</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <img src="/images/inspector_registration.jpg" class="card-img-top" alt="Регистрация инспектора">
            <div class="card-body">
                <h5 class="card-title">@Лок["Инспектор"]</h5>
                <p class="card-text">@Лок["ИнспекторРегистрация"].</p>
                <a asp-area="Identity" asp-page="/Account/Register" asp-route-Inspector="true" class="btn btn-primary">@Лок["РегистрацияИнспектора"]</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <img src="/images/laboratory_registration.jpg" class="card-img-top" alt="Регистрация лаборатории" style="height: 270px;">
            <div class="card-body">
                <h5 class="card-title">@Лок["Лаборатория"]</h5>
                <p class="card-text">@Лок["ЛабораторияРегистрация"].</p>
                <a asp-area="Identity" asp-page="/Account/Register" asp-route-Laboratory="true" class="btn btn-primary">@Лок["РегистрацияЛаборатории"]</a>
            </div>
        </div>
    </div>
</div>
