@page
@using Microsoft.Extensions.Localization
@model RegisterConfirmationModel
@inject IStringLocalizer<Register> Лок
@{
    ViewData["Title"] = Лок["ПодтвердждениеРегистрации"];
}

<h1>@ViewData["Title"]</h1>
@{
    <p>
        @Лок["ИнструкцииПоПодтвержденииРегистрации"]
    </p>
}

