@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = ResetPassword.ПодтверждениеСбросаПароля;
}

<h1>@ViewData["Title"]</h1>
<p>
    @Html.Raw(string.Format(ResetPassword.ПодсказкаПриПодтвержденииСбросаПароля, Url.Page("./Login")))
</p>
