@page "/my/requests/{ИдЗаявки:int}/inspections/{ИдИнспекции:int}/protocols/field"
@attribute [Authorize(Policy = "Фермеры")]
@using Pages.Заявки
@inject УправляющийЗаявками управляющийЗаявками
@inject УправляющийИнспекциями управляющийИнспекциями
@inject NavigationManager управляющийНавигацией
@inject IStringLocalizer<Инспекции> Лок

<h3>@string.Format(Лок["ПротоколИнспекции"], ИдИнспекции)</h3>

<h4>
    @Лок["ДанныеЗаявки"]
</h4>
<fieldset disabled>
    <БазовыеДанныеЗаявки Модель=@МодельЗаявки Пользователь=@ИдВладельца />
</fieldset>

<h4>
    @Лок["ДанныеИнспекции"]
</h4>
<fieldset disabled>
    <ДанныеИнспекции Модель="@Модель" />
</fieldset>
<h4>
    @Лок["ЗаписиПротокола"]
</h4>
<table class="table">
    <thead>
        <tr>
            <th>@Лок["НомерСерии"]</th>
            <th>@Лок["КоличествоРастенийВСерии"]</th>
            <th>@Лок["Карантин"]</th>
            <th>@Лок["ВиральныеБолезни"]</th>
            <th>@Лок["Черноножка"]</th>
            <th>@Лок["Безтиповые"]</th>
            <th>@Лок["Ризоктония"]</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var записьИнспекция in Записи)
        {
            <tr>
                <td>@записьИнспекция.НомерСерии</td>
                <td>
                    @записьИнспекция.КоличествоРастенийВСерии
                </td>
                <td>
                    @записьИнспекция.Карантин
                </td>
                <td>
                    @записьИнспекция.ВиральныеБолезни
                </td>
                <td>
                    @записьИнспекция.Черноножка
                </td>
                <td>
                    @записьИнспекция.Безтиповые
                </td>
                <td>
                    @записьИнспекция.Ризоктония
                </td>
                <th>
                    
                </th>
            </tr>
        }
    </tbody>
</table>

<div class="row my-3">
    <div class="col">
        @if (Модель.Статус == 2)
        {
            <a class="btn btn-primary" @onclick="Одобрить">@Глобальные.Одобрить</a>
            <a class="btn btn-danger" @onclick="Отклонить">@Глобальные.Отклонить</a>
        }
        <a href="/my/requests/@ИдЗаявки/inspections" class="btn btn-secondary">@Глобальные.Назад</a>
    </div>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? состояниеАвторизации { get; set; }

    [Parameter]
    public int ИдЗаявки { get; set; }

    [Parameter]
    public int ИдИнспекции { get; set; }

    public string ИдВладельца { get; set; } = "";

    public МодельЗаявки МодельЗаявки { get; set; } = new();

    public МодельИнспекции Модель { get; set; } = new();

    public List<ЗаписьПолевойИнспекции> Записи { get; set; } = new();

    protected override void OnParametersSet()
    {
        var заявка = управляющийЗаявками.ПолучитьЗаявку(ИдЗаявки);
        if (заявка is null)
        {
            return;
        }

        ИдВладельца = заявка.УчастокПоля.Поле.ПроизводительСемян.ИдВладельца;

        Проектор.ОтобразитьЗаявку(заявка, МодельЗаявки);

        var инспекция = управляющийИнспекциями.ПолучитьИнспекцию(ИдИнспекции);
        if (инспекция is null)
        {
            return;
        }

        Проектор.ОтобразитьИнспекцию(инспекция, Модель);
        Записи = управляющийИнспекциями.ПолучитьПротоколПолевойИнспекции(ИдИнспекции);
        base.OnParametersSet();
    }

    public void Одобрить()
    {
        управляющийИнспекциями.ОдобритьИнспекцию(ИдИнспекции);
    }

    public void Отклонить()
    {
        управляющийИнспекциями.ОтклонитьИнспекцию(ИдИнспекции);
    }
}
