@page "/farms/{Ид:int}/fields/add"
@inject УправляющийХозяйствами управляющийХозяйствами
@inject NavigationManager управляющийНавигацией
@inject IStringLocalizer<ДобавитьПоле> Лок 
@attribute [Authorize(Policy = "Фермеры")]

<PageTitle>@Лок["ДобавитьПоле"]</PageTitle>

<h3>@Лок["ДобавитьПоле"]</h3>

<EditForm Model="@Модель" OnValidSubmit="@Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <ДанныеПоля Модель=@Модель />

    <button type="submit" class="btn btn-primary">@Лок["Сохранить"]</button>
</EditForm>
@code {
    [Parameter]
    public int Ид { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState>? состояниеАвторизации { get; set; }

    public МодельПоля? Модель { get; set; }

    protected override void OnInitialized() => Модель ??= new();

    private async Task Submit()
    {
        var идЛичности = await состояниеАвторизации.ПолучитьИдентификаторБезопасности();
        if (идЛичности is null)
        {
            return;
        }

        управляющийХозяйствами.ДобавитьПоле(
            Ид,
            Модель.Название,
            Модель.АдресПоля,
            Модель.ПравоустанавливающиеДокументы);
        управляющийНавигацией.NavigateTo($"/farms/{Ид}/fields");
    }

}
