@page "/farms/{Ид:int}/fields"
@using System.Security.Claims;
@using СертификацияСемян.Данные;
@attribute [Authorize(Policy = "Фермеры")]
@inject УправляющийХозяйствами управляющийХозяйствами
@inject IStringLocalizer<Поля> Лок

<PageTitle>@Лок["Поля"]</PageTitle>
<h3>@Лок["Поля"]</h3>
@if (поля.Count == 0)
{
    <p><a href="/farms/@Ид/fields/add">@Лок["Создайте"]</a> @Лок["Поле"]</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <td>@Лок["Название"]</td>
                <td>@Лок["Адрес"]</td>
                <td>@Лок["Документы"]</td>
                <td> </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var п in поля)
            {
                <tr>
                    <td>
                        @п.Название
                    </td>
                    <td>
                        @п.АдресПоля
                    </td>
                    <td>
                        <a href="/farms/@Ид/fields/@п.Ид/documents" target="_blank">@Лок["Просмотр"]</a>
                    </td>
                    <td>
                        <div class="btn-group">
                            <a href="/farms/@Ид/fields/@п.Ид/patches" class="btn btn-secondary">@Лок["Участки"]</a>
                            <a href="/farms/@Ид/fields/@п.Ид/edit" class="btn btn-primary">@Лок["Изменить"]</a>
                            <a href="/farms/@Ид/fields/@п.Ид/delete" class="btn btn-danger"><span class="oi oi-trash"></span></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public int Ид { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState>? состояниеАвторизации { get; set; }

    private IList<Поле> поля = Array.Empty<Поле>();

    protected override async Task OnParametersSetAsync()
    {
        var идЛичности = await состояниеАвторизации.ПолучитьИдентификаторБезопасности();
        if (идЛичности is not null)
        {
            поля = управляющийХозяйствами.ПолучитьПоляХозяйства(Ид);
        }

        await base.OnParametersSetAsync();
    }
}
