@page "/farms/{Ид:int}/fields/{ИдПоля:int}/edit"
@inject УправляющийХозяйствами управляющийХозяйствами
@inject NavigationManager управляющийНавигацией
@attribute [Authorize(Policy = "Фермеры")]

<PageTitle>Редактировать поле @Модель.Название</PageTitle>

    <h3>Редактировать поле @Модель.Название</h3>

<EditForm Model="@Модель" OnValidSubmit="@Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <ДанныеПоля Модель=@Модель />

    <button type="submit" class="btn btn-primary">Сохранить</button>
</EditForm>
@code {
    [Parameter]
    public int Ид { get; set; }

    [Parameter]
    public int ИдПоля { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState>? состояниеАвторизации { get; set; }

    public МодельПоля? Модель { get; set; }

    protected override void OnInitialized() => Модель ??= new();

    protected override void OnParametersSet()
    {
        var поле = управляющийХозяйствами.ПолучитьПоле(ИдПоля);
        if (поле is not null)
        {
            Модель.Название = поле.Название;
            Модель.АдресПоля = поле.АдресПоля;
            Модель.ПравоустанавливающиеДокументы = поле.ПравоустанавливающиеДокументы;

        }

        base.OnParametersSet();
    }

    private async Task Submit()
    {
        var идЛичности = await состояниеАвторизации.ПолучитьИдентификаторБезопасности();
        if (идЛичности is null)
        {
            return;
        }

        управляющийХозяйствами.ИзменитьПоле(
            ИдПоля,
            Модель.Название,
            Модель.АдресПоля,
            Модель.ПравоустанавливающиеДокументы);
        управляющийНавигацией.NavigateTo($"/farms/{Ид}/fields");
    }

}
