@page "/farms/{Ид:int}/fields/{ИдПоля:int}/delete"
@inject УправляющийХозяйствами управляющийХозяйствами
@inject NavigationManager управляющийНавигацией
@inject IStringLocalizer<УдалитьПоле> Лок
@attribute [Authorize(Policy = "Фермеры")]

<PageTitle>@Лок["УдалитьПоле"] @Модель.Название</PageTitle>

<h3>@Лок["УдалитьПоле"] @Модель.Название</h3>

<EditForm Model="@Модель" OnValidSubmit="@Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <fieldset disabled>
        <ДанныеПоля Модель=@Модель />
    </fieldset>

    <button type="submit" class="btn btn-danger">@Лок["Удалить"]</button>
</EditForm>
@code {
    [Parameter]
    public int Ид { get; set; }

    [Parameter]
    public int ИдПоля { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState>? состояниеАвторизации { get; set; }

    public МодельПоля? Модель { get; set; }

    protected override void OnInitialized() => Модель ??= new();

    protected override void OnParametersSet()
    {
        var поле = управляющийХозяйствами.ПолучитьПоле(ИдПоля);
        if (поле is not null)
        {
            Модель.Название = поле.Название;
            Модель.АдресПоля = поле.АдресПоля;
            Модель.ПравоустанавливающиеДокументы = поле.ПравоустанавливающиеДокументы;

        }

        base.OnParametersSet();
    }

    private async Task Submit()
    {
        var идЛичности = await состояниеАвторизации.ПолучитьИдентификаторБезопасности();
        if (идЛичности is null)
        {
            return;
        }

        управляющийХозяйствами.УдалитьПоле(ИдПоля);
        управляющийНавигацией.NavigateTo($"/farms/{Ид}/fields");
    }

}
