@page "/requests/{НомерСтраницы:int}"

@using СертификацияСемян.Данные;
@attribute [Authorize(Policy = "Инспекторы")]
@inject УправляющийЗаявками управляющийЗаявками

<h3>ВсеЗаявки</h3>
<table class="table">
        <thead>
            <tr>
                <td>#</td>
                <td>Тип Заявки</td>
                <td>Дата создания</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var з in заявки)
            {
                <tr>
                    <td>
                        @з.Код
                    </td>
                    <td>
                        @з.ТипЗаявки
                    </td>
                    <td>
                        @з.ДатаСоздания
                    </td>
                </tr>
              }
              </tbody>
         </table>
          <div class="btn-group" role="group" aria-label="Basic example">
			 @if (НомерСтраницы > 1)
			 {
				 <a class="btn btn-secondary" href="/requests/@(НомерСтраницы - 1)">Назад</a>
			 }
			 @if (заявки.Count == 20)
			 {
				 <a class="btn btn-secondary" href="/requests/@(НомерСтраницы + 1)">Вперед</a>
			 }
          </div>             
@code{

    private IList<Заявка> заявки = Array.Empty<Заявка>();

    [Parameter]
    public int НомерСтраницы { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        заявки = управляющийЗаявками.ПолучитьСтраницуЗаявок(НомерСтраницы - 1);
    }
}
