@page "/my/requests/"
@using System.Security.Claims;
@using СертификацияСемян.Данные;
@attribute [Authorize(Policy = "Фермеры")]
@inject УправляющийЗаявками управляющийЗаявками
@inject IStringLocalizer<МоиЗаявки> Лок
<PageTitle>@Лок["Заявки"]</PageTitle>

<div class="align-items-center d-flex justify-content-between mb-2">
    <div>
        <h4 class="text-start text-primary">@Лок["Заявки"]</h4>
    </div>
    <div class="text-end">
        <a href="/my/requests/file" class="btn btn-primary">+</a>
    </div>
</div>
@if (заявки.Count == 0)
{
    <p><a href="/my/requests/file">@Лок["Создайте"]</a> @Лок["НоваяЗаявка"]</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <td>#</td>
                <td>@Лок["ТипЗаявки"]</td>
                <td>@Лок["НазваниеСорта"]</td>
                <td>@Лок["НазваниеКомпании"]</td>
                <td>@Лок["КлассСемян"]</td>
                <td>@Лок["ДатаПодачи"]</td>
                <td>@Лок["Информация"]</td>
                <td>@Лок["Активно"]</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var з in заявки)
            {
                <tr>
                    <td>
                        @з.Код
                    </td>
                    <td>
                        <ТипЗаявки Значение=@з.ТипЗаявки />
                    </td>
                    <td>
                        @з.НаваниеСортаСемян
                    </td>
                    <td>
                        @з.УчастокПоля.Поле.ПроизводительСемян.НаваниеКомпании (@з.УчастокПоля.Поле.ПроизводительСемян.БинИлиИин)
                    </td>
                    <td>
                        <КлассСемян Значение=@з.КлассСемянИд />
                    </td>
                    <td>
                        @з.ДатаСоздания
                    </td>
                    <td>
                        <a href="/my/requests/@з.Ид/info">@Лок["Информация"]</a>
                    </td>
                    <td>
                        @if (з.Активно)
                        {
                            <span class="oi oi-circle-check text-success"></span>
                        }
                        else
                        {
                            <span class="oi oi-circle-x text-danger"></span>
                        }
                    </td>
                </tr>
            }
        </tbody> 
    </table>
}

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? состояниеАвторизации { get; set; }

    private IList<Заявка> заявки = Array.Empty<Заявка>();

    protected override async Task OnParametersSetAsync()
    {
        var идЛичности = await состояниеАвторизации.ПолучитьИдентификаторБезопасности();
        if (идЛичности is not null)
        {
            заявки = управляющийЗаявками.ПолучитьЗаявкиПользователя(идЛичности);
        }

        await base.OnParametersSetAsync();
    }

}
