@page "/my/requests/{Ид:int}/info"
@inject УправляющийЗаявками управляющийЗаявками
@inject IStringLocalizer<ПосмотретьЗаявку> Лок
@inject IStringLocalizer<Глобальные> ГлобЛок

<PageTitle>@Лок["ИнформацияОЗаявке"] #@Модель.Код</PageTitle>

<h3>@Лок["ИнформацияОЗаявке"] #@Модель.Код</h3>

<EditForm Model="@Модель">
    <fieldset disabled>
        <ДанныеЗаявки Модель=@Модель Пользователь=@ИдЛичности/>
    </fieldset>
    <a href="/my/requests/" class="btn btn-secondary">@ГлобЛок["Назад"]</a>
</EditForm>


@code {
    [CascadingParameter]
    private Task<AuthenticationState>? состояниеАвторизации { get; set; }

    [Parameter]
    public int Ид { get; set; }

    public МодельЗаявки Модель { get; set; } = new();
    public string ИдЛичности { get; set; } = "";

    protected override async Task OnParametersSetAsync()
    {
        ИдЛичности = await состояниеАвторизации.ПолучитьИдентификаторБезопасности() ?? "";
        var з = управляющийЗаявками.ПолучитьЗаявкуПользователя(ИдЛичности, Ид);

        Проектор.ОтобразитьЗаявку(з, Модель);
        await base.OnParametersSetAsync();
    }
}
