@page "/requests/{Ид:int}/info"
@attribute [Authorize(Policy = "Инспекторы")]
@inject УправляющийЗаявками управляющийЗаявками
@inject IStringLocalizer<ПосмотретьЗаявку> Лок
@inject IStringLocalizer<Глобальные> ГлобЛок

<PageTitle>@Лок["ИнформацияОЗаявке"] #@Модель.Код</PageTitle>

<h3>@Лок["ИнформацияОЗаявке"] #@Модель.Код</h3>

<EditForm Model="@Модель">
    <fieldset disabled>
        <ДанныеЗаявки Модель=@Модель Пользователь=@ИдВладельца />
    </fieldset>
    <a href="/requests" class="btn btn-secondary">@ГлобЛок["Назад"]</a>
</EditForm>


@code {
    [CascadingParameter]
    private Task<AuthenticationState>? состояниеАвторизации { get; set; }

    [Parameter]
    public int Ид { get; set; }

    public МодельЗаявки? Модель { get; set; }
    public string ИдВладельца { get; set; } = "";

    protected override void OnInitialized() => Модель ??= new();

    protected override async Task OnParametersSetAsync()
    {
        var з = управляющийЗаявками.ПолучитьЗаявку(Ид);
        ИдВладельца = з.УчастокПоля.Поле.ПроизводительСемян.ИдВладельца;

        Модель.Код = з.Код;
        Модель.ТипЗаявки = з.ТипЗаявки;
        Модель.НазваниеСортаСемян = з.НаваниеСортаСемян;
        Модель.КлассСемянИд = з.КлассСемянИд;

        Модель.ИдХозяйства = з.УчастокПоля.Поле.ИдХозяйства;
        Модель.ИдПоля = з.УчастокПоля.ИдПоля;
        Модель.ИдУчастка = з.ИдУчастка;

        Модель.РазмерКлубня = з.РазмерКлубня;
        Модель.КоординатыУчастка = з.КоординатыУчастка;
        Модель.СевооборотПрошлогоГода = з.СевооборотПрошлогоГода;
        Модель.Севооборот2ГодаНазад = з.Севооборот2ГодаНазад;
        Модель.Севооборот3ГодаНазад = з.Севооборот3ГодаНазад;
        Модель.ИзоляцияПолей = з.ИзоляцияПолей;
        Модель.СвидетельствоПроисхожденияСемян = з.СвидетельствоПроисхожденияСемян;
        Модель.ЗаключениеОНематодах = з.ЗаключениеОНематодах;

        Модель.Протравители = з.Протравители;
        Модель.Инсектициды = з.Инсектициды;
        Модель.Фунгициды = з.Фунгициды;
        Модель.Удобрения = з.Удобрения;
        Модель.Гербициды = з.Гербициды;

        Модель.ФормаУчастка = з.ФормаУчастка;
        Модель.Размер1 = з.Размер1;
        Модель.Размер2 = з.Размер2;
        Модель.ПлощадьПосадки = з.ПлощадьПосадки;
        Модель.РасстояниеМеждуРядами = з.РасстояниеМеждуРядами;
        Модель.РасстояниеВРяду = з.РасстояниеВРяду;

        Модель.ПрогнозируемоеКоличествоУрожая = з.ПрогнозируемоеКоличествоУрожая;
        Модель.ДатаПосадки = з.ДатаПосадки;
        Модель.ДатаСбора = з.ДатаСбора;
        await base.OnParametersSetAsync();
    }
}
