@page "/requests/{Ид:int}/info"
@attribute [Authorize(Policy = "Инспекторы")]
@inject УправляющийЗаявками управляющийЗаявками
@inject IStringLocalizer<ПосмотретьЗаявку> Лок
@inject IStringLocalizer<Глобальные> ГлобЛок

<PageTitle>@Лок["ИнформацияОЗаявке"] #@Модель.Код</PageTitle>

<h3>@Лок["ИнформацияОЗаявке"] #@Модель.Код</h3>

<EditForm Model="@Модель">
    <fieldset disabled>
        <ДанныеЗаявки Модель=@Модель Пользователь=@ИдВладельца />
    </fieldset>
    <a href="/requests/1" class="btn btn-secondary">@ГлобЛок["Назад"]</a>
</EditForm>


@code {
    [Parameter]
    public int Ид { get; set; }

    public МодельЗаявки Модель { get; set; } = new();
    public string ИдВладельца { get; set; } = "";

    protected override async Task OnParametersSetAsync()
    {
        var з = управляющийЗаявками.ПолучитьЗаявку(Ид);
        ИдВладельца = з.УчастокПоля.Поле.ПроизводительСемян.ИдВладельца;

        Модель = new();
        Проектор.ОтобразитьЗаявку(з, Модель);
        await base.OnParametersSetAsync();
    }
}
