@page "/my/requests/file"
@using System.Security.Claims;
@attribute [Authorize(Policy = "Фермеры")]
@inject УправляющийЗаявками управляющийЗаявками
@inject NavigationManager управляющийНавигацией
@inject IStringLocalizer<Глобальные> ГлобЛок
@inject IStringLocalizer<ПодатьЗаявку> Лок

<PageTitle>@Лок["ПодатьЗаявку"]</PageTitle>

<h3>@Лок["ПодатьЗаявку"]</h3>

<EditForm Model="@Модель" OnValidSubmit="@Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <ДанныеЗаявки Модель=@Модель Пользователь=@ИдЛичности />

    <button type="submit" class="btn btn-primary">@ГлобЛок["Сохранить"]</button>
    <a href="/my/requests/" class="btn btn-secondary">@ГлобЛок["Назад"]</a>
</EditForm>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? состояниеАвторизации { get; set; }

    public МодельЗаявки? Модель { get; set; }
    public string ИдЛичности { get; set; } = "";

    protected override void OnInitialized() => Модель ??= new();

    protected override async Task OnParametersSetAsync()
    {
        ИдЛичности = await состояниеАвторизации.ПолучитьИдентификаторБезопасности() ?? "";
        await base.OnParametersSetAsync();
    }

    private async Task Submit()
    {
        var идЛичности = await состояниеАвторизации.ПолучитьИдентификаторБезопасности();
        if (идЛичности is null)
        {
            return;
        }

        управляющийЗаявками.ДобавитьЗаявку(
            Модель!.ТипЗаявки!.Value,
            Модель!.ИдУчастка!.Value,
            Модель.КлассСемянИд!.Value,
            Модель.НазваниеСортаСемян,
            Модель.РазмерКлубня,
            Модель.КоординатыУчастка,
            Модель.СевооборотПрошлогоГода,
            Модель.Севооборот2ГодаНазад,
            Модель.Севооборот3ГодаНазад,
            Модель.ИзоляцияПолей,
            Модель.СтранаПроизводитель,
            Модель.НаваниеКомпанииПроизводителя,
            Модель.ГодПроизводстваСемян,
            Модель.КодСертификатаПроисхождения,
            Модель.ИдСертификатаПроисхождения,
            Модель.СвидетельствоПроисхожденияСемян,
            Модель.ЗаключениеОНематодах,
            Модель.Протравители,
            Модель.Инсектициды,
            Модель.Фунгициды,
            Модель.Удобрения,
            Модель.Гербициды,
            Модель.ФормаУчастка.Value,
            Модель.Размер1,
            Модель.Размер2,
            Модель.ПлощадьПосадки,
            Модель.РасстояниеМеждуРядами,
            Модель.РасстояниеВРяду,
            Модель.ПрогнозируемоеКоличествоУрожая,
            Модель.ДатаПосадки,
            Модель.ДатаСбора);
        управляющийНавигацией.NavigateTo("/my/requests");
    }

}
