@page "/my/certificates"

@using СертификацияСемян.Данные;
@attribute [Authorize(Policy = "Фермеры")]
@inject УправляющийЗаявками управляющийЗаявками
@inject IStringLocalizer<Сертификаты> Лок

<div class="align-items-center d-flex justify-content-between mb-2">
    <div>
        <h4 class="text-start text-primary">@Лок["Сертификаты"]</h4>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <td>#</td>
            <td>@Лок["Сорт"]</td>
            <td>@Лок["КлассСемян"]</td>
            <td>@Лок["ДатаВыпуска"]</td>
            <td>@Лок["ВаловыйПродукт"]</td>
            <td>@Глобальные.Действия</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var з in сертификаты)
        {
            <tr>
                <td>
                    @з.Ид
                </td>
                <td>
                    @з.Заявка.НаваниеСортаСемян
                </td>
                <td>
                    <КлассСемян Значение="з.КлассСемянИд" />
                </td>
                <td>
                    @з.ДатаВыпуска.ToShortDateString()
                </td>
                <td>
                    @з.ВаловыйПродукт
                </td>
                <td>
                    <a href="/certificates/@з.Ид">@Глобальные.Детали</a>
                    <a href="/my/certificates/@з.Ид/sales">@Лок["Партии"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? состояниеАвторизации { get; set; }

    private IList<Сертификат> сертификаты = Array.Empty<Сертификат>();

    protected override async Task OnParametersSetAsync()
    {
        var идЛичности = await состояниеАвторизации.ПолучитьИдентификаторБезопасности();
        if (идЛичности is not null)
        {
            сертификаты = управляющийЗаявками.ПолучитьСертификатыПользователя(идЛичности);
        }
    }
}
