@page "/info/documents"

<h3>@Глобальные.Страница_Документы</h3>

<ul>
    <li>
        <a href="/docs/Стандарт S-1_SeedPotatoes.pdf">Стандарт ЕЭК ООН S1 - Сбыт и контроль качества Семенной Картофель</a>
    </li>
    <li>
        <a href="/docs/Lot_Inspection_R_ЕЭК ООН_руководство.pdf">Cтандарт ЕЭК ООН Инспекция партии семенного картофеля</a>
    </li>
    <li>
        <a href="/docs/Certification_Service_R_процедура.pdf">Руководство ЕЭК ООН Служба сертификации семенного картофеля</a>
    </li>
    <li>
        <a href="/docs/СТ РГП 72199-01-2023.pdf">Стандарт организации  "КАРТОФЕЛЬ СЕМЕННОЙ. Сбыт и контроль качества." СТ РГП 72199-01-2023</a>
    </li>
    <li>
        <a href="/docs/СТ РГП 72199-02-2023.pdf">Стандарт организации "ИНСПЕКЦИЯ КАРТОФЕЛЬ СЕМЕННОЙ" СТ РГП 72199-02-2023</a>
    </li>
</ul>
