@page "/info/inspection"

<h3>Инспекция</h3>

<div class="row">
	<img src="/images/inspections.jpg" class="object-fit-cover" alt="Регистрация лаборатории" height="500">
</div>

<h4>Общая информация</h4>

<p>
	Инспекция семян картофеля и посадочного материала плодовых культур является услугой и оказывается профессиональной организацией под контролем Министерством
	сельского хозяйства Республики Казахстан.
</p>
<p>
	<b>Форма оказания услуги</b>: Электронная (частично автоматизированная) или бумажная.
</p>
<p>
	Результат оказания услуги — Уведомление об оказании услуги либо мотивированный ответ об отказе в оказании услуги в электронном виде посредством
	портала профессиональной организации.
</p>
<p>
	<b>Форма предоставления результата оказания услуги</b>: электронная или бумажная.
</p>
<p>
	Согласно Правил проведения Инспекции и сертификации (далее -Правила) услугополучатель может подавать заявку на проведение Инспекции (далее — Заявка)
	в электронном виде.  При подаче заявки услугополучателем прикрепляются следующие документы:
	электронная копия документа подтверждающего право на земельный участок (государственный акт, договор на аренду земельного участка;
	Заполнение всех пунктов представляемых документов, вплоть до даты заполнения, является обязательным.
	ФОРМЫ ЗАЯВОК для заполнения будет находиться на сайте <a href="#">профессиональной организации</a>
</p>
<p><b>Заявителям </b>в этом разделе приводиться информация о процедуре проведения инспекции, ее порядок и перечень необходимых документов</p>
<h4>Инструкция по подаче заявки</h4>

<p>
	Служба инспекции семян картофеля и плодовых культур принимает заявки в течение года, предпочтительно до февраля месяца для формирования плана инспекций.
	Основанием для начала процедуры по оказанию государственной услуги является наличие заявки на инспекцию, включающую в себя следующие документы и материалы:
</p>

<ol type="numbered">
	<li>
		Заявление на инспекцию, в двух экземплярах (в заявлении указывается количество и вид инспекции (производство семенного материала, хранение,
		транспортирование));
	</li>
	<li>Анкету хозяйствующего субъекта (по форме для соответствующей культуры), в двух экземплярах;</li>
	<li>Описание сорта, в двух экземплярах;</li>
	<li>Правоустанавливающие документы (государственный акт на земельный участок, договор аренды земельного участка);</li>
	<li>Карту расположения земельного участка или участков. В случае нескольких участков план взаимного расположения участков и расстояние между ними.</li>
</ol>
<br />
<ul>
	<li><b>Форма заявки и прилагаемые к ней документы для проведения инспекции (договор)</b></li>
	<li><b>Преобразование заявки</b> (в том числе продление срока действия договора или внесение изменений\дополнений)</li>
	<li><b>Стоимость услуг</b></li>
	<li><b>Глоссарий</b></li>
	<li><b>Образцы документов</b></li>
	<li><b>Статистические данные</b> сведения о посевных площадях под семенной картофель и продовольственный картофель, урожайности и др.</li>
	<li><b>Вакансии</b></li>
</ul>

<h4>Государственные закупки</h4>
(описание порядка закупок и плана закупок на текущий или предстоящий год)
<p>
	Размещение плана государственных закупок и проведение электронных государственных закупок способами, предусмотренными
	Законом Республики Казахстан «О государственных закупках» осуществляются посредством веб-портала <a href="goszakup.gov.kz">goszakup.gov.kz</a>.
	Для быстрого поиска объявлений или протоколов проведенных закупок Ассоциации на веб-портале, введите БИН предприятия:
	<p><u>План государственных закупок на 2022 год</u></p>
</p>