@page "/info/contacts"

<h3>@Глобальные.Страница_Контакты</h3>

@if (System.Globalization.CultureInfo.CurrentCulture.Name.StartsWith("ru"))
{
    <h4>
        Режим работы
    </h4>

    <text>Пн. - Пт.</text>
    <pre>10:00 - 17:00</pre>

    <h4> Адрес </h4>
    <text>г.Астана.ул.ХХХХХ, 111</text>
}
else if (System.Globalization.CultureInfo.CurrentCulture.Name.StartsWith("en"))
{
    <h4>Open time</h4>

    <text>Mon. - Fri.</text>

    <pre>10:00 - 17:00</pre>

    <h4> Address </h4>
    <text>Astana, ХХХХХ st, 111</text>
}
else
{
    <h4>Жұмыс уақыты</h4>

    <text>Дүйс. - Жұма.</text>

    <pre>10:00 - 17:00</pre>

    <h4> Мекен жайы </h4>

    <text>Астана қ.,..ХХХХХ көшесі, 111</text>
}