@page "/info"

<h3>Навигация</h3>
<ul>
	<li><a href="/info/inspection">Инспекция</a></li>
	<li><a href="/info/activity">Деятельность</a></li>
	<li><a href="/info/law">Нормативно-правовая база</a></li>
	<li><a href="/info/announcements">Издания</a></li>
	<li><a href="/info/contacts">Контакты</a></li>
</ul>
