@page "/info/about"

<h3>Инспекция и сертификация качества семян</h3>

<h4>Полевая инспекция</h4>
<img src="/images/about.png" style="width: 60%;" />

<p>
	За сезон проводится 2 обязательных полевых инспекций, в ходе которых посадки семенного картофеля осматриваются на наличие симптомов вирусных поражений (первичных и вторичных), болезней (вирусы, черная ножка), соответствия сорту (сортовая чистота), отсутствия карантинных болезней. 
	По усмотрению и решению инспектора, в случае наличия большого количества сорняков на посевах, может быть назначена дополнительная полевая инспекция после проведения фитопрочистки посадок. 
</p>
<p>
	По усмотрению и решению инспектора, в случае наличия большого количества сорняков на посевах, может быть назначена дополнительная полевая инспекция после проведения фитопрочистки посадок.
</p>


<h4>Инспекция партий</h4>
<p>
	После уборки урожая и его размещения в хранилище, проводится инспекция каждой партии семенного картофеля с учетом класса, участка и сорта семенного картофеля.
</p>
<p>
	Инспекция партий проводится в соответствии с нормативными допусками, указанными в Стандарте «СТ РК Семенной картофель. Сбыт и контроль товарного качества».
</p>
<p>
	В ходе проведения инспекции партии семенного картофеля клубни могут разрезаться по продольной оси для выявления наличия или отсутствия внутренних дефектов или заболеваний.
</p>

<h4>Нормативы инспекции партии:</h4>

<table class="table">
	<thead>
		<tr>
			<td>Валовый сбор</td>
			<td>Объем для инспекции</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>До 50 000 кг</td>
			<td>100 кг</td>
		</tr>
		<tr>
			<td>от 50 000 кг до 150 000 кг</td>
			<td>150 кг</td>
		</tr>
		<tr>
			<td>от 150 000 кг до 300 000 кг</td>
			<td>200 кг</td>
		</tr>
		<tr>
			<td>от 300 000 кг до 500 000 кг</td>
			<td>300 кг</td>
		</tr>
		<tr>
			<td>от 500 000 кг до 800 000 кг</td>
			<td>400 кг</td>
		</tr>
		<tr>
			<td>Свыше 800 000 кг</td>
			<td>400 кг</td>
		</tr>
	</tbody>
</table>

<h4>Пост уборочный контроль</h4>
<p>
	Для проведения лабораторного анализа на выявление патогенов проводится отбор образцов с каждой партии семенного картофеля в количестве 220 клубней на каждые 6 га.
</p>
<p>
	Образцы картофеля передаются в лабораторию для проведения анализов на выявление патогенов.
</p>

<p>
	Исследования проводятся:<br/>
	Вирусы - PLRV, PVA, PVM, PVX, PVY, PVS<br />
	Бактерии: Clavibacter michiganensis spp., Ralstonia solanacearum<br />
	Метод исследования – ПЦР, 4 реакции по 50 клубней на вирусы и 2 реакции по 100 клубней на бактерии.<br />
</p>

<img src="/images/about2.png" style="width: 50%;" />

@* <h4>Руководство</h4>

<p>Совет: функции совета, список членов совета</p>

<p>Правление: функции правления, список членов правления</p>

<div class="card mb-3 border border-0">
	<div class="row g-0">
		<div class="col-md-3">
			<svg class="bd-placeholder-img img-fluid rounded-start mx-auto d-block" width="200" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 200x200" preserveAspectRatio="xMidYMid slice" focusable="false">
				<title>Placeholder</title>
				<rect width="100%" height="100%" fill="#868e96"></rect>
				<text x="50%" y="50%" fill="#dee2e6" dy=".3em" dx="-1.6em">200x200</text>
			</svg>
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title">Председатель</h5>
				<p class="card-text">Дайте пожалуйста резюме председателя.</p>
			</div>
		</div>
	</div>
</div>

<div class="card mb-3 border border-0">
	<div class="row g-0">
		<div class="col-md-3">
			<svg class="bd-placeholder-img img-fluid rounded-start mx-auto d-block" width="200" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 200x200" preserveAspectRatio="xMidYMid slice" focusable="false">
				<title>Placeholder</title>
				<rect width="100%" height="100%" fill="#868e96"></rect>
				<text x="50%" y="50%" fill="#dee2e6" dy=".3em" dx="-1.6em">200x200</text>
			</svg>
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title">Заместитель 1</h5>
				<p class="card-text">Дайте пожалуйста резюме заместителя.</p>
			</div>
		</div>
	</div>
</div>

<div class="card mb-3 border border-0">
	<div class="row g-0">
		<div class="col-md-3">
			<svg class="bd-placeholder-img img-fluid rounded-start mx-auto d-block" width="200" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 200x200" preserveAspectRatio="xMidYMid slice" focusable="false">
				<title>Placeholder</title>
				<rect width="100%" height="100%" fill="#868e96"></rect>
				<text x="50%" y="50%" fill="#dee2e6" dy=".3em" dx="-1.6em">200x200</text>
			</svg>
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title">Заместитель 2</h5>
				<p class="card-text">Дайте пожалуйста резюме заместителя.</p>
			</div>
		</div>
	</div>
</div> *@
@* 
<h4>О профессиональной организации инспекции и сертификации качества семян картофеля и посадочного материала плодовых культур</h4>
Структура профессиональной организации инспекции и сертификации качества семян картофеля и посадочного материала плодовых культур:
<ul>
	<li>общее собрание,</li>
	<li>правление,</li>
	<li>председатель,</li>
	<li>директор,</li>
	<li>инспекционная служба,</li>
	<li>исследовательская лаборатория,</li>
	<li>иные органы созданные профессиональной организацией.</li>
</ul>

<div class="row g-0">
	<div class="col-md-3 offset-md-4 text-center p-1">
		<h4 class="text-center">Организационная структура</h4>
		<div class="card my-3 border mx-auto" style="width: 8rem">
			<h4>Директор</h4>
		</div>
	</div>
</div>
<div class="row font-monospace" style="font-size: 700%;">
	<div class="col-3">
		
	</div>
	<div class="col-1">↙</div>
	<div class="col-3 text-center">
		↓
	</div>
	<div class="col-1">↘</div>
	<div class="col-3">
		
	</div>
	<div class="col-1"></div>
</div>
<div class="row mb-5 graph_vertex">
	<div class="col-3">
		<div class="card mx-auto border mb-2">
			<div class="p-3">
				Служба инспекции семян картофеля
			</div>
		</div>
		<div class="card mx-auto border mb-2">
			<div class="p-3">
				Главный инспектор
			</div>
		</div>
		<div class="card mx-auto border mb-2">
			<div class="p-3">
				Инспектора
			</div>
		</div>
	</div>
	<div class="col-1"></div>
	<div class="col-3">
		<div class="card mx-auto border mb-2">
			<div class="p-3">
				Служба инспекции плодовых культур
			</div>
		</div>
		<div class="card mx-auto border mb-2">
			<div class="p-3">
				Главный инспектор
			</div>
		</div>
		<div class="card mx-auto border mb-2">
			<div class="p-3">
				Инспектора
			</div>
		</div>
	</div>
	<div class="col-1"></div>
	<div class="col-3">
		<div class="card mx-auto border mb-2">
			<div class="p-3">
				Исследовательская лаборатория
			</div>
		</div>
		<div class="card mx-auto border mb-2">
			<div class="p-3">
				Заведующий лабораторией
			</div>
		</div>
		<div class="card mx-auto border mb-2">
			<div class="p-3">
				Лаборант
			</div>
		</div>
	</div>
	<div class="col-1"></div>
</div>
<div class="row g-0">
	<div class="col-md-5 offset-md-3 text-center p-1">
		<h4 class="text-center">Схема взаимодействия структур</h4>
		<div class="card my-3 border mx-auto" style="width: 8rem">
			<h4>МСХ РК</h4>
		</div>
	</div>
</div>
<div class="row font-monospace" style="font-size: 700%">
	<div class="col-3">
		
	</div>
	<div class="col-1">
		↙
	</div>
	<div class="col-3 text-center">
		↕
	</div>
	<div class="col-1">
		↘
	</div>
	<div class="col-3">
		
	</div>
	<div class="col-1"></div>
</div>
<div class="row mb-5 graph_vertex">
	<div class="col-3">
		<div class="card mx-auto border">
			<div class="p-3">
				РГУ «Государственная комиссия по сортоиспытанию сельскохозяйственных культур» МСХ РК
			</div>
		</div>
	</div>
	<div class="col-1">
		<a style="font-size: 700%; line-height: 50%">←</a>
	</div>
	<div class="col-3">
		<div class="card border mx-auto">
			<div class="p-3">
				Профессиональная организация инспекции и сертификации качества семян картофеля и посадочного материала плодовых культур
			</div>
		</div>
	</div>
	<div class="col-1">
		<a style="font-size: 700%; line-height: 50%">↔</a>
	</div>
	<div class="col-3">
		<div class="card mx-auto border">
			<div class="p-3">
				Комитет государственной инспекции в агропромышленном комплексе МСХ РК (Управление по карантину растений, Управление защиты растений)
			</div>
		</div>
	</div>
	<div class="col-1"></div>
</div> *@