@page "/info/about"
@if (System.Globalization.CultureInfo.CurrentCulture.Name.StartsWith("ru"))
{
	<h3>Инспекция и сертификация качества семян</h3>

	<h4>Полевая инспекция</h4>
	<img src="/images/about.png" style="width: 60%;" />

	<p>
		За сезон проводится 2 обязательных полевых инспекций, в ходе которых посадки семенного картофеля осматриваются на наличие симптомов вирусных поражений (первичных и вторичных), болезней (вирусы, черная ножка), соответствия сорту (сортовая чистота), отсутствия карантинных болезней.
		По усмотрению и решению инспектора, в случае наличия большого количества сорняков на посевах, может быть назначена дополнительная полевая инспекция после проведения фитопрочистки посадок.
	</p>
	<p>
		По усмотрению и решению инспектора, в случае наличия большого количества сорняков на посевах, может быть назначена дополнительная полевая инспекция после проведения фитопрочистки посадок.
	</p>


	<h4>Инспекция партий</h4>
	<p>
		После уборки урожая и его размещения в хранилище, проводится инспекция каждой партии семенного картофеля с учетом класса, участка и сорта семенного картофеля.
	</p>
	<p>
		Инспекция партий проводится в соответствии с нормативными допусками, указанными в Стандарте «СТ РК Семенной картофель. Сбыт и контроль товарного качества».
	</p>
	<p>
		В ходе проведения инспекции партии семенного картофеля клубни могут разрезаться по продольной оси для выявления наличия или отсутствия внутренних дефектов или заболеваний.
	</p>

	<h4>Нормативы инспекции партии:</h4>

	<table class="table">
		<thead>
			<tr>
				<td>Валовый сбор</td>
				<td>Объем для инспекции</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>До 50 000 кг</td>
				<td>100 кг</td>
			</tr>
			<tr>
				<td>от 50 000 кг до 150 000 кг</td>
				<td>150 кг</td>
			</tr>
			<tr>
				<td>от 150 000 кг до 300 000 кг</td>
				<td>200 кг</td>
			</tr>
			<tr>
				<td>от 300 000 кг до 500 000 кг</td>
				<td>300 кг</td>
			</tr>
			<tr>
				<td>от 500 000 кг до 800 000 кг</td>
				<td>400 кг</td>
			</tr>
			<tr>
				<td>Свыше 800 000 кг</td>
				<td>400 кг</td>
			</tr>
		</tbody>
	</table>

	<h4>Пост уборочный контроль</h4>
	<p>
		Для проведения лабораторного анализа на выявление патогенов проводится отбор образцов с каждой партии семенного картофеля в количестве 220 клубней на каждые 6 га.
	</p>
	<p>
		Образцы картофеля передаются в лабораторию для проведения анализов на выявление патогенов.
	</p>

	<p>
		Исследования проводятся:<br />
		Вирусы - PLRV, PVA, PVM, PVX, PVY, PVS<br />
		Бактерии: Clavibacter michiganensis spp., Ralstonia solanacearum<br />
		Метод исследования – ПЦР, 4 реакции по 50 клубней на вирусы и 2 реакции по 100 клубней на бактерии.<br />
	</p>

	<img src="/images/about2.png" style="width: 50%;" />
}
else if (System.Globalization.CultureInfo.CurrentCulture.Name.StartsWith("en"))
{
	<h3>Инспекция и сертификация качества семян</h3>

	<h4>Field inspection</h4>
	<img src="/images/about.png" style="width: 60%;" />

	<p>
		There are 2 mandatory field inspections per season. Seed potato plantings are inspected for viral symptoms (primary and secondary), diseases (viruses, black leg), variety purity, off-types, true-to-type, and quarantine diseases absence.
	</p>
	<p>
		Upon the decision of the inspector, an additional field inspection after rouging may be scheduled, in case if too many weeds are on the field.
	</p>


	<h4>Lot inspection</h4>
	<p>
		After harvesting and storing, each lot of seed potatoes is inspected, considering the class, plot, and variety of seed potatoes.
	</p>
	<p>
		Lot inspection is conducted in compliance with the regulations specified in the Standard "ST RK Seed Potatoes. Trade and quality control".
	</p>
	<p>
		During the inspection of seed potato lots, tubers may be cut along the longitudinal axis to detect the presence or absence of internal defects or diseases.
	</p>

	<h4>Lot Inspection Rates:</h4>

	<table class="table">
		<thead>
			<tr>
				<td>Gross yield</td>
				<td>Volume for inspection</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>till 50 000 kg</td>
				<td>100 kg</td>
			</tr>
			<tr>
				<td>from 50 000 kg to 150 000 kg</td>
				<td>150 kg</td>
			</tr>
			<tr>
				<td>from 150 000 кг to 300 000 кг</td>
				<td>200 kg</td>
			</tr>
			<tr>
				<td>from 300 000 кг to 500 000 кг</td>
				<td>300 kg</td>
			</tr>
			<tr>
				<td>from 500 000 кг to 800 000 кг</td>
				<td>400 kg</td>
			</tr>
			<tr>
				<td>above 800 000 кг</td>
				<td>400 kg</td>
			</tr>
		</tbody>
	</table>

	<h4>Post-harvest control</h4>
	<p>
		Sampling from each seed potato lot of 220 tubers for every 6 ha is carried out for laboratory analysis to detect pathogens.
	</p>
	<p>
		Potato samples are transferred to the laboratory for pathogen analysis.
	</p>

	<p>
		The tests are conducted for:<br />
		Viruses - PLRV, PVA, PVM, PVX, PVY, PVS<br />
		Bacteria: Clavibacter michiganensis spp., Ralstonia solanacearum<br />
		Method of research - PCR, 4 reactions on 50 tubers for viruses and 2 reactions on 100 tubers for bacteria.
	</p>

	<img src="/images/about2.png" style="width: 50%;" />
}
else
{
	<h3>Инспекция и сертификация качества семян</h3>

	<h4>Егістік инспекциясы</h4>
	<img src="/images/about.png" style="width: 60%;" />

	<p>
		Маусым бойынша 2 міндетті далалық инспекция жүргізіледі, оның барысында тұқымдық картоп егістігі вирустармен (бастапқы және қайталама) және басқа да аурулармен (вирустар, қара мойнақ) залалдану белгілерінің бар-жоғына, сортқа сәйкестігі (сорт тазалығы), және карантиндік аурулардың болмауы тексеріледі.
	</p>
	<p>
		Егістікте арамшөптер көп болса инспектордың қалауы мен шешімі бойынша, егістікті фитотазартудан кейін қосымша далалық инспекция тағайындалуы мүмкін.
	</p>


	<h4>Партияның инспекциясы</h4>
	<p>
		Тұқымдық картопты жинап, қоймаға орналастырғаннан кейін оның әрбір партиясы тұқымдық картоптың сорты, өсірілген ауданы және класын ескере отырып, инспекция жүргізіледі.
	</p>
	<p>
		Партияны инспекциялау «ҚР СТ тұқымдық картоп. Сату және тауар сапасын бақылау» стандартында көрсетілген нормативтік талаптарға сәйкес жүргізіледі.
	</p>
	<p>
		Тұқымдық картоп партиясына инспекция жүргізу кезінде ішкі ақаулардың немесе аурулардың бар-жоғын анықтау үшін бойлық ось бойынша түйнектерді кесуге болады.
	</p>

	<h4>Партияға инспекция жүргізу нормативтері:</h4>

	<table class="table">
		<thead>
			<tr>
				<td>Жалпы түсім</td>
				<td>Инспекция жүргізуге арналған көлем</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>50 000 кг дейін</td>
				<td>100 кг</td>
			</tr>
			<tr>
				<td>50 000 кг бастап 150 000 кг дейін</td>
				<td>150 кг</td>
			</tr>
			<tr>
				<td>150 000 кг бастап 300 000 кг дейін</td>
				<td>200 кг</td>
			</tr>
			<tr>
				<td>300 000 кг бастап 500 000 кг дейін</td>
				<td>300 кг</td>
			</tr>
			<tr>
				<td>500 000 кг бастап 800 000 кг дейін</td>
				<td>400 кг</td>
			</tr>
			<tr>
				<td>800 000 кг жоғары</td>
				<td>400 кг</td>
			</tr>
		</tbody>
	</table>

	<h4>Егін жинаудан кейінгі бақылау</h4>
	<p>
		Патогендерді айқындау мақсатында зертханалық талдау жүргізу үшін картоп тұқымының әрбір партиясынан әрбір 6 гектардан 220 түйнек мөлшерінде үлгілер алынады.
	</p>
	<p>
		Патогендерді анықтау үшін картоп үлгілері зертханаға сынауға жіберіледі.
	</p>

	<p>
		Зерттеу жүргізіледі:<br />
		Вирустар - PLRV, PVA, PVM, PVX, PVY, PVS<br />
		Бактериялар: Clavibacter michiganensis spp., Ralstonia solanacearum<br />
		Зерттеу әдістері – ПТР, вирустар үшін 50 түйнектен 4 реакция және бактериялар үшін 100 түйнектен 2 реакция.
	</p>

	<img src="/images/about2.png" style="width: 50%;" />
}