@page "/info/law"

<h3>Нормативно-правовая база</h3>
(прикрепляются файлы, которые можно загрузить для ознакомления)
<ul>
	<li>
		<p>Законы в этом разделе приводиться текст законодательных актов РК</p>
		<ol>
			<li>Гражданский кодекс РК *ссылки</li>
			<li>О семеноводстве</li>
			<li>О техническом регулировании</li>
			<li>Об аккредитации в области оценки соответствия</li>
		</ol>
	</li>
	<li>
		<p>Приказы МСХ РК</p>
		в этом разделе приводиться текст приказов МСХ РК
		<ol>
			<li>Об утверждении положения о профессиональной организации</li>
			<li>Правила инспекции</li>
			<li>О установлении цен</li>
		</ol>
	</li>
	<li>
		<p>Нормативно-техническая документация</p>
		*просим выслать
		<ol>
			<li>СТ РК S-1</li>
			<li>Стандарт ЕЭК ООН S-1</li>
		</ol>
	</li>
</ul>
<br />
<p>
	<p>*Схема работы инспекционной службы со ссылками</p>
	<p>*интерактивная схема работы инспекционной службы из отчета</p>
</p>