@page "/inspectors"
@attribute [Authorize(Policy = "ТребуетсяБытьАдминистратором")]
@using Microsoft.AspNetCore.Identity
@using СертификацияСемян.Данные;
@inject UserManager<ПользовательПриложения> МенеджерПользователей
@inject IStringLocalizer<Пользователи> Лок

<PageTitle>@Лок["Инспекторы"]</PageTitle>
<div class="align-items-center d-flex justify-content-between mb-2">
    <div>
        <h4 class="text-start text-primary">@Лок["Инспекторы"]</h4>
    </div>
    <div class="text-end">
        <a href="/inspectors/add" class="btn btn-primary">+</a>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <td>Email</td>
            <td>Фамилия</td>
            <td>Имя</td>
            <td>Отчество</td>
            <td>Email Confirmed</td>
            <td>Действия</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var и in инспекторы)
        {
            <tr>
                <td>
                    @и.Email
                </td>
                <td>
                    @и.Фамилия
                </td>
                <td>
                    @и.Имя
                </td>
                <td>
                    @и.Отчество
                </td>
                <td>
                    @и.EmailConfirmed
                </td>
                <td>
                    <a href="/inspectors/edit/@и.Id" class="btn btn-primary">@Лок["Изменить"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private IList<ПользовательПриложения> инспекторы = Array.Empty<ПользовательПриложения>();

    protected override async Task OnParametersSetAsync()
    {
        инспекторы = await МенеджерПользователей.GetUsersInRoleAsync(Константы.РольИнспектора);
        await base.OnParametersSetAsync();
    }
}
