@inject IJSRuntime JsRuntime
<div id="@ИдЭлемента" @attributes="@InputAttributes"></div>
@code {

    [Parameter]
    public string ИдЭлемента { get; set; } = "qrcode";

    [Parameter]
    public string Ширина { get; set; } = "150";

    [Parameter]
    public string Высота { get; set; } = "150";

    [Parameter]
    public string Текст { get; set; } = "";

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? InputAttributes { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        await JsRuntime.InvokeVoidAsync("initializeQrCode", ИдЭлемента, Текст, Ширина, Высота);;
    }
}