@inject ILogger<ДанныеПоля> протоколировщик
@inject IWebHostEnvironment окружение
@inject IStringLocalizer<ДанныеУчастка> Лок 

<label class="form-label">
    @Лок["Название"] <span class="text-danger">*</span>
</label>
<InputText @bind-Value="Модель!.Название" class="form-control" />

<label class="form-label">
    @Лок["Координаты"] <span class="text-danger">*</span>
</label>
<InputText @bind-Value="Модель!.КоординатыУчастка" class="form-control" />


@code {
    [Parameter]
    public УчастокПоля Модель { get; set; }
}
