@inject IStringLocalizer<ДанныеФермы> Лок

<div class="mb-3 row">
    <div class="col-sm-12 col-md-2">
        <label class="form-label">
            @Лок["БИНИИН"] <span class="text-danger">*</span>
        </label>
    </div>
    <div class="col-sm-12 col-md-3 d-grid gap-2">
    </div>
    <div class="col-sm-12 col-md-7 d-grid gap-2">
        <label class="form-label">
            @Лок["НазваниеКомпании"] <span class="text-danger">*</span>
        </label>
    </div>
</div>
<div class="mb-3 row">
    <div class="col-sm-12 col-md-2">
        <InputText @bind-Value="Модель!.Бин" class="form-control" />
    </div>
    <div class="col-sm-12 col-md-3 d-grid gap-2">
        <button type="button" @onclick=ПолучитьДанныеПоБин class="btn btn-outline-primary">@Лок["ПолучитьДанные"]</button>
    </div>
    <div class="col-sm-12 col-md-7">
        <InputText @bind-Value="Модель!.НаваниеКомпании" class="form-control" />
    </div>
</div>

<label class="form-label">
    @Лок["ЮридическийАдрес"] <span class="text-danger">*</span>
</label>
<InputText @bind-Value="Модель!.ЮридическийАдрес" class="form-control" />

<h3>@Лок["КонтактноеЛицо"]</h3>

<div class="mb-3 row">
    <div class="col-sm-12 col-md-4">
        <label class="form-label">
            @Лок["КонтактноеЛицо"] <span class="text-danger">*</span>
        </label>
        <InputText @bind-Value="Модель!.КонтактноеЛицо" class="form-control" />
    </div>
    <div class="col-sm-12 col-md-4">
        <label class="form-label">
            @Лок["ЭлектроннаяПочта"] <span class="text-danger">*</span>
        </label>
        <InputText @bind-Value="Модель!.ЭлектроннаяПочтаКонтактногоЛица" type="email" class="form-control" />
    </div>
    <div class="col-sm-12 col-md-4">
        <label class="form-label">
            @Лок["НомерТелефона"] <span class="text-danger">*</span>
        </label>
        <InputText @bind-Value="Модель!.НомерТелефонаКонтактногоЛица" type="tel" class="form-control" />
    </div>
</div>

@code {
    [Parameter]
    public Хозяйство Модель { get; set; }

    private async Task ПолучитьДанныеПоБин()
    {
        var бин = Модель?.Бин;
        if (бин is null)
        {
            return;
        }

        if (!long.TryParse(бин, out var бинЧисло))
        {
            return;
        }

        var клиент = new GovKzServices.QazStatClient(new HttpClient());
        var результат = await клиент.GetJuridicalAsync(бинЧисло, "ru");
        if (!результат.Success)
        {
            return;
        }

        Модель.НаваниеКомпании = результат.Obj.Name;
        Модель.ЮридическийАдрес = результат.Obj.KatoAddress;
        Модель.КонтактноеЛицо = результат.Obj.Fio;
    }
}
