@using System.Globalization
@using СертификацияСемян.Страницы.Заявки
@inject IStringLocalizer<Инспекции> Лок

<div class="row">
    <div class="col-3">

        <label class="form-label">
            @Лок["ТипИнспекции"] <span class="text-danger">*</span>
        </label>
        <InputSelect @bind-Value="Модель!.ТипИнспекции" class="form-control">
            <option value="">@Лок["ВыберитеТипИнспекции"] ...</option>
            <option value="1">@Глобальные.ТипИнспекции_Полевая</option>
            <option value="2">@Глобальные.ТипИнспекции_Партии</option>
            <option value="3">@Глобальные.ТипИнспекции_Поcлеуборочная</option>
        </InputSelect>
    </div>
</div>
<div class="row">
    <div class="col">
        <label class="form-label">
            @Лок["ПланируемаяДата"] <span class="text-danger">*</span>
        </label>
        <InputDate @bind-Value="Модель!.ПланируемаяДата" class="form-control" Type="InputDateType.Date" />
    </div>
    <div class="col">
        <label class="form-label">
            @Лок["ФактическаяДата"]
        </label>
        <InputDate @bind-Value="Модель!.ФактическаяДата" class="form-control" Type="InputDateType.Date" />
    </div>
</div>
<div class="row">
    @if (Модель!.ТипИнспекции != 3)
    {
        <div class="col">
            <label class="form-label">
                @Лок["СредняяФизиологическаяСтадия"] <span class="text-danger">*</span>
            </label>
            <InputText @bind-Value="Модель!.ФизиологическаяСтадия" class="form-control" />
        </div>
    }
    <div class="col">
        <label class="form-label">
            @{
                var общееСостояние = Лок["ОбщееСостояниеПоля"];
                if (Модель!.ТипИнспекции == 1)
                {
                    общееСостояние = Лок["ОбщееСостояниеПоля"];
                }
                else if (Модель!.ТипИнспекции == 2)
                {
                    общееСостояние = Лок["ОбщееСостояниеУрожая"];
                }
                else
                {
                    общееСостояние = Лок["ОбщиеУсловияХранения"];
                }
            }
            @общееСостояние <span class="text-danger">*</span>
        </label>
        <InputText @bind-Value="Модель!.ОбщееСостояниеПоля" class="form-control" />
    </div>
</div>
<div class="row">
    <div class="col">
        <label class="form-label">
            @Лок["ИмяВедущегоИнспектора"] <span class="text-danger">*</span>
        </label>
        <InputText @bind-Value="Модель!.ИмяВедущегоИнспектора" class="form-control" />
    </div>
    <div class="col">
        <label class="form-label">
            @Лок["ИмяВторогоИнспектора"] <span class="text-danger">*</span>
        </label>
        <InputText @bind-Value="Модель!.ИмяВторогоИнспектора" class="form-control" />
    </div>
</div>

@code {
    [Parameter]
    public МодельИнспекции Модель { get; set; }
}