@if (Значение == 1)
{
    <text>Предбазисный PBTC</text>
}
else if (Значение == 2)
{
    <text>Предбазисный PB</text>
}
else if (Значение == 3)
{
    <text>Базисный S</text>
}
else if (Значение == 4)
{
    <text>Базисный SE</text>
}
else if (Значение == 5)
{
    <text>Базисный E</text>
}
else if (Значение == 6)
{
    <text>Сертифицированный А</text>
}
else if (Значение == 7)
{
    <text>Сертифицированный В</text>
}
else if (Значение == 0)
{
    <text>Неопределенный класс</text>
}
else
{
    <p>Неизвестное значение @Значение</p>
}

@code {
    [Parameter]
    public int Значение { get; set; }
}
