@inject IStringLocalizer<MainLayout> Лок
@inherits LayoutComponentBase

<PageTitle>@Лок["ЗаголовокПоУмолчанию"]</PageTitle>
<NavMenu />
<div class="container mb-5">
    <main class="pb-5">
        <article class="content px-4 pb-5">
            @Body
        </article>
    </main>
</div>

<div class="container-fluid bg-secondary text-white p-5 fixed-bottom">
    <div class="row">
        <div class="col">@Лок["НазваниеИнститута"]</div>
        <div class="col"></div>
        <div class="col"></div> 
        <div class="col"><div class="row-2"><a href="https://favri.kz/"><img src="images/InstituteLogo.png" height="45" /></a> <a href="http://ipbb.kz/"><img class="mb-4" src="images/IPBB.png" height="45" /></a></div></div>
    </div>
</div>
