@inject IStringLocalizer<MainLayout> Лок
@inherits LayoutComponentBase

<PageTitle>@Лок["ЗаголовокПоУмолчанию"]</PageTitle>
<NavMenu />
<div class="container mb-5">
    <main class="pb-5">
        <article class="content px-4 pb-5">
            @Body
        </article>
    </main>
</div>

<div class="container-fluid bg-secondary text-white p-5 fixed-bottom">
    <div class="row">
        <div class="col">@Лок["НазваниеИнститута"]</div>
        <div class="col"></div>
        <div class="col"></div> 
        <div class="col">
            <a href="http://ipbb.kz/" target="_blank"><img class="mb-4 ms-4" src="images/IPBB.png" height="45" /></a>
            <a href="https://favri.kz/" target="_blank"><img class="mb-4 ms-4" src="images/InstituteLogo.png" height="45" /></a>
        </div>
    </div>
</div>
