@inject IStringLocalizer<MainLayout> Лок
@inherits LayoutComponentBase

<PageTitle>@Лок["ЗаголовокПоУмолчанию"]</PageTitle>
<NavMenu />
<div class="container">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div class="container-fluid bg-secondary text-white p-5 fixed-bottom">
    <div class="row">
        <div class="col">Институт биологии и биотехнологии растений</div>
        <div class="col"> </div>
        <div class="col"> </div>
    </div>
</div>
