@inject IStringLocalizer<NavMenu> Лок

<nav class="navbar navbar-expand-md bg-primary" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="">@Лок["ИмяПриложения"]</a>
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass navbar-collapse flex-sm-row-reverse" id="navbarScroll">
            <ul class="navbar-nav navbar-nav-scroll">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/info/about">@Глобальные.Страница_ОНас</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/info/contacts">@Глобальные.Страница_Контакты</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/info/documents">@Глобальные.Страница_Документы</NavLink>
                </li>
                <AuthorizeView>
                    <Authorized>
                        @if (context.User.IsInRole(Данные.Константы.РольФермер))
                        {
                            <li class="nav-item">
                                <NavLink class="nav-link" href="/farms">@Лок["Фермы"]</NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="/my/requests">@Лок["МоиЗаявки"]</NavLink>
                            </li>
                        }
                        @if (context.User.IsInRole(Данные.Константы.РольАдминистратора))
                        {
                            <li class="nav-item">
                                <NavLink class="nav-link" href="/farmers">@Лок["Фермеры"]</NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="/inspectors">@Лок["Инспекторы"]</NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="/laboratories">@Лок["Лаборатории"]</NavLink>
                            </li>
                        }
                        @if (context.User.IsInRole(Данные.Константы.РольИнспектора))
                        {
                            <li class="nav-item">
                                <NavLink class="nav-link" href="/requests/1">@Лок["Заявки"]</NavLink>
                            </li>
                        }
                        @if (context.User.IsInRole(Данные.Константы.РольЛаборатория))
                        {
                            <li class="nav-item">
                                <NavLink class="nav-link" href="/analysis">@Лок["Анализы"]</NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="/analysis/history">@Лок["ИсторияАнализов"]</NavLink>
                            </li>
                        }
                        <li class="nav-item dropdown">
                            <ВыборКультуры />
                        </li>
                        <a class="nav-link" href="Identity/Account/Manage">@Лок["Приветствие"] @context.User.Identity?.Name!</a>
                        <form method="post" action="Identity/Account/Logout">
                            <button type="submit" class="nav-link btn btn-link">@Лок["ВыйтиИзАккаунта"]</button>
                        </form>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item dropdown">
                            <ВыборКультуры />
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Identity/Account/RegisterSelection">@Лок["Регистрация"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Identity/Account/Login">@Лок["Логин"]</a>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
