@inject IStringLocalizer<NavMenu> Лок

<nav class="navbar navbar-expand-md bg-primary" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="">@Лок["ИмяПриложения"]</a>
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass navbar-collapse flex-sm-row-reverse" id="navbarScroll">
            <ul class="navbar-nav navbar-nav-scroll">
                <AuthorizeView>
                    <Authorized>
                        @if (context.User.IsInRole(Данные.Константы.РольФермер))
                        {
                            <li class="nav-item">
                                <NavLink class="nav-link" href="/farms">Фермы</NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="/requests">Заявки</NavLink>
                            </li>
                        }
                        @if (context.User.IsInRole(Данные.Константы.РольАдминистратора))
                        {
                            <li class="nav-item">
                                <NavLink class="nav-link" href="/farmers">Фермеры</NavLink>
                            </li>
                        }
                        <a class="nav-link" href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
                        <form method="post" action="Identity/Account/Logout">
                            <button type="submit" class="nav-link btn btn-link">@Лок["ВыйтиИзАккаунта"]</button>
                        </form>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item">
                            <a class="nav-link" href="Identity/Account/Register">@Лок["Регистрация"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Identity/Account/Login">@Лок["Логин"]</a>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
            @* <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>

            </form> *@
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
