@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = Manage.ЗагрузитеДанные;
    ViewData["ActivePage"] = Manage.ЛичныеДанные;
}

<h3>@ViewData["Title"]</h3>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
