@page "/farms/add"
@inject УправляющийХозяйствами управляющийХозяйствами
@inject NavigationManager управляющийНавигацией
@inject IStringLocalizer<ДобавитьФерму> Лок
@attribute [Authorize(Policy = "Фермеры")]

<PageTitle>@Лок["ДобавитьФерму"]</PageTitle>

<h3>@Лок["ДобавитьФерму"]</h3>

<EditForm Model="@Модель" OnValidSubmit="@Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <ДанныеФермы Модель=@Модель />

    <button type="submit" class="btn btn-primary">@Лок["Сохранить"]</button>
</EditForm>
@code {
    [CascadingParameter]
    private Task<AuthenticationState>? состояниеАвторизации { get; set; }

    public Хозяйство? Модель { get; set; }

    protected override void OnInitialized() => Модель ??= new();

    private async Task Submit()
    {
        var идЛичности = await состояниеАвторизации.ПолучитьИдентификаторБезопасности();
        if (идЛичности is null)
        {
            return;
        }

        управляющийХозяйствами.ДобавитьХозяйство(
            идЛичности,
            Модель.НаваниеКомпании,
            Модель.Бин,
            Модель.ЮридическийАдрес,
            Модель.КонтактноеЛицо,
            Модель.ЭлектроннаяПочтаКонтактногоЛица,
            Модель.НомерТелефонаКонтактногоЛица);
        управляющийНавигацией.NavigateTo("/farms");
    }

}
