@page "/farms/"
@using System.Security.Claims;
@using СертификацияСемян.Данные;
@attribute [Authorize(Policy = "Фермеры")]
@inject УправляющийХозяйствами управляющийХозяйствами
@inject IStringLocalizer<Фермы> Лок
<h3>@Лок["Фермы"]</h3>
@if (хозяйства.Count == 0)
{
    <p><a href="/farms/add">@Лок["Создайте"]</a> @Лок["НовоеХозяйство"]</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <td>@Лок["КонтактноеЛицо"]</td>
                <td>@Лок["НазваниеКомпании"]</td>
                <td>@Лок["БИНИИН"]</td>
                <td>@Лок["ЮридическийАдрес"]</td>
                <td>@Лок["Контакты"]</td>
                <td>@Лок["Активно"]</td>
                <td> </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var ф in хозяйства)
            {
                <tr>
                    <td>
                        @ф.КонтактноеЛицо
                    </td>
                    <td>
                        @ф.НаваниеКомпании
                    </td>
                    <td>
                        @ф.БинИлиИин
                    </td>
                    <td>
                        @ф.ЮридическийАдрес
                    </td>
                    <td>
                        @ф.ЭлектроннаяПочтаКонтактногоЛица

                        @ф.НомерТелефонаКонтактногоЛица
                    </td>
                    <td>
                        @if (ф.Активно)
                        {
                            <span class="oi oi-circle-check text-success"></span>
                        }
                        else
                        {
                            <span class="oi oi-circle-x text-danger"></span>
                        }
                    </td>
                    <td>
                        <div class="btn-group">
                            <a href="/farms/@ф.Ид/fields" class="btn btn-secondary">@Лок["Поля"]</a>
                            <a href="/farms/edit/@ф.Ид" class="btn btn-primary">@Лок["Изменить"]</a>
                            <a href="/farms/delete/@ф.Ид" class="btn btn-danger"><span class="oi oi-trash"></span></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? состояниеАвторизации { get; set; }

    private IList<ПроизводительСемян> хозяйства = Array.Empty<ПроизводительСемян>();

    protected override async Task OnParametersSetAsync()
    {
        var идЛичности = await состояниеАвторизации.ПолучитьИдентификаторБезопасности();
        if (идЛичности is not null)
        {
            хозяйства = управляющийХозяйствами.ПолучитьХозяйстваПользователя(идЛичности);
        }
        
        await base.OnParametersSetAsync();
    }
}
