@page "/"
@inject IStringLocalizer<Главная> Лок
<PageTitle>@Лок["ГлавнаяСтраница"]</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>@Лок["ГлавнаяСтраница"]</h1>
        @if (context.User.IsInRole(Данные.Константы.РольФермер))
        {                            
            <div class="row">
                <div class="col col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@Лок["ЗарегистрироватьХозяйство"]</h5>
                            <p class="card-text">@Лок["КакПодатьЗаявку"].</p>
                            <a href="/farms/add" class="btn btn-primary">@Лок["Перейти"]</a>
                        </div>
                    </div>
                </div>
                <div class="col col-md-4 ">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@Лок["ПодатьЗаявку"]</h5>
                            <p class="card-text">
                                @Лок["КакСертифицировать"].
                            </p>
                            <a href="/my/requests/file" class="btn btn-primary">@Лок["Подать"]</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </Authorized>
    <NotAuthorized>
        <a href="/info/about">@Глобальные.Страница_ОбИнституте</a><br />
        <a href="/information/2">Деятельность</a><br />
        <a href="/info/inspection">Инспекция</a><br />
        <a href="/information/4">Нормативно-правовая база</a><br />
        <a href="/information/5">5 раздел</a><br />
    </NotAuthorized>
</AuthorizeView>
