@page "/"
@inject IStringLocalizer<Главная> Лок
<PageTitle>@Лок["ГлавнаяСтраница"]</PageTitle>


<div class="row">
    <img src="/images/main_page.jpg" class="object-fit-cover" alt="Инспекторы на поле,помогают улучшать качество семян" height="500">
</div>

<AuthorizeView>
    <Authorized>
        <h1>@Лок["ГлавнаяСтраница"]</h1>
        @if (context.User.IsInRole(Данные.Константы.РольФермер))
        {                            
            <div class="row">
                <div class="col col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@Лок["ЗарегистрироватьХозяйство"]</h5>
                            <p class="card-text">@Лок["КакПодатьЗаявку"].</p>
                            <a href="/farms/add" class="btn btn-primary">@Лок["Перейти"]</a>
                        </div>
                    </div>
                </div>
                <div class="col col-md-4 ">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@Лок["ПодатьЗаявку"]</h5>
                            <p class="card-text">
                                @Лок["КакСертифицировать"].
                            </p>
                            <a href="/my/requests/file" class="btn btn-primary">@Лок["Подать"]</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </Authorized>
    <NotAuthorized>
        @* <a href="/info/about">@Глобальные.Страница_ОНас</a><br />
        <a href="/info/documents">Документы</a><br />
        <a href="/info/inspection">Инспекция</a><br />
        <a href="/info/activity">Деятельность</a><br />
        <a href="/info/law">Нормативно-правовая база</a><br /> *@
        <h2>Служба инспекции семян Республики Казахстан</h2>

        <p>
        Служба инспекции семян Республики Казахстан – это инспекционная служба по семенам и семенному картофелю.
        Служба проводит инспекции от имени и под контролем Министерства сельского хозяйства Республики Казахстан.
        </p>

        <p>
        Специализированные инспекторы проводят обследования и контроль качества посадок семенного картофеля в течении всего сезона выращивания семенного материала. 
        </p>

        <p>

        Служба инспекции семян занимается контролем качества и сертификацией семян и семенного картофеля. Эта служба играет важную роль в обеспечении качества сельскохозяйственного материала, контролируя процессы производства, обработки, упаковки и маркировки семян, а также устанавливая соответствие с требованиями и стандартами, установленными законодательством Республики Казахстан и международными нормами.
        </p>

        Основные функции службы инспекции семян:
        <ol>
            <li>Сертификация семян - выдача сертификатов на качественные семена, которые соответствуют заявленному классу и установленным стандартам.</li>
            <li>Контроль качества - проведение инспекций и тестирование семян для определения их качества и чистоты.</li>
            <li>Мониторинг рынка семян - прослеживаемость оборота семян на рынке и контроль за незаконной торговлей или использования поддельных семян.</li>
        </ol>
        Работа Службы инспекции семян является ключевой для обеспечения устойчивости сельскохозяйственного производства и защиты интересов фермеров и потребителей в Республике Казахстан.

    </NotAuthorized>
</AuthorizeView>
