@page "/"
@attribute [Authorize]
@inject IStringLocalizer<Главная> Лок
<PageTitle>@Лок["ГлавнаяСтраница"]</PageTitle>

<h1>@Лок["ГлавнаяСтраница"]!</h1>

<div class="row">
    <div class="col col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Лок["ЗарегистрироватьХозяйство"]</h5>
                <p class="card-text">@Лок["КакПодатьЗаявку"].</p>
                <a href="/farms/add" class="btn btn-primary">@Лок["Перейти"]</a>
            </div>
        </div>
    </div>
    <div class="col col-md-4 ">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Лок["ПодатьЗаявку"]</h5>
                <p class="card-text">
                    @Лок["КакСертифицировать"].
                </p>
                <a href="/requests/file" class="btn btn-primary">@Лок["Подать"]</a>
            </div>
        </div>
    </div>
</div>
