@page "/farms/edit/{Ид:int}"
@inject УправляющийХозяйствами управляющийХозяйствами
@inject NavigationManager управляющийНавигацией
@attribute [Authorize(Policy = "Фермеры")]

<PageTitle>Редактировать Ферму</PageTitle>
<h3>Редактировать Ферму</h3>

<EditForm Model="@Модель" OnValidSubmit="@Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <ДанныеФермы Модель=@Модель />

    <button type="submit" class="btn btn-primary">Сохранить</button>
</EditForm>
@code {
    [Parameter]
    public int Ид { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState>? состояниеАвторизации { get; set; }

    public Хозяйство? Модель { get; set; }

    protected override void OnInitialized() => Модель ??= new();

    protected override void OnParametersSet()
    {
        var хозяйство = управляющийХозяйствами.ПолучитьХозяйство(Ид);
        if (хозяйство is not null)
        {
            Модель.Бин = хозяйство.БинИлиИин;
            Модель.НаваниеКомпании = хозяйство.НаваниеКомпании;
            Модель.ЮридическийАдрес = хозяйство.ЮридическийАдрес;
            Модель.КонтактноеЛицо = хозяйство.КонтактноеЛицо;
            Модель.ЭлектроннаяПочтаКонтактногоЛица = хозяйство.ЭлектроннаяПочтаКонтактногоЛица;
            Модель.НомерТелефонаКонтактногоЛица = хозяйство.НомерТелефонаКонтактногоЛица;

        }

        base.OnParametersSet();
    }

    private async Task Submit()
    {
        var идЛичности = await состояниеАвторизации.ПолучитьИдентификаторБезопасности();
        if (идЛичности is null)
        {
            return;
        }

        управляющийХозяйствами.ИзменитьХозяйство(
            Ид,
            идЛичности,
            Модель.НаваниеКомпании,
            Модель.Бин,
            Модель.ЮридическийАдрес,
            Модель.КонтактноеЛицо,
            Модель.ЭлектроннаяПочтаКонтактногоЛица,
            Модель.НомерТелефонаКонтактногоЛица);
        управляющийНавигацией.NavigateTo("/farms");
    }

}
