@page "/farms/{Ид:int}/fields/{ИдПоля:int}/patches"
@using System.Security.Claims;
@using СертификацияСемян.Данные;
@attribute [Authorize(Policy = "Фермеры")]
@inject УправляющийХозяйствами управляющийХозяйствами

<PageTitle>Участки поля @(Поле?.Название)</PageTitle>
<h3>
    Участки поля @(Поле?.Название)
</h3>

@if (участки.Count == 0)
{
    <p><a href="/farms/@Ид/fields/@ИдПоля/patches/add">Создайте</a> участок</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <td>Название</td>
                <td>Координаты</td>
                <td> </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var ф in участки)
            {
                <tr>
                    <td>
                        @ф.Название
                    </td>
                    <td>
                        @ф.КоординатыУчастка
                    </td>
                    <td>
                        <div class="btn-group">
                            <a href="/farms/@Ид/fields/@ф.ИдПоля/patches/@ф.Ид/edit" class="btn btn-primary">Изменить</a>
                            <a href="/farms/@Ид/fields/@ф.ИдПоля/patches/@ф.Ид/delete" class="btn btn-danger"><span class="oi oi-trash"></span></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public int Ид { get; set; }

    [Parameter]
    public int ИдПоля { get; set; }
    public Поле? Поле { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState>? состояниеАвторизации { get; set; }

    private IList<УчастокПоля> участки = Array.Empty<УчастокПоля>();

    protected override async Task OnParametersSetAsync()
    {
        var идЛичности = await состояниеАвторизации.ПолучитьИдентификаторБезопасности();
        if (идЛичности is not null)
        {
            участки = управляющийХозяйствами.ПолучитьУчасткиПоля(ИдПоля);
        }

        Поле = управляющийХозяйствами.ПолучитьПоле(ИдПоля);
        await base.OnParametersSetAsync();
    }
}
